@model IEnumerable<BookManagementApp.Models.Stock>

@{
    ViewBag.Title = "Trang chủ";
}

<h2>SÁCH TỒN</h2>

<table class="table">
    <tr>
        <th>
           Tên sách
        </th>
        <th>
            Số lượng
        </th>
        <th>
           Thời gian
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
    </tr>
}

</table>
