@model IEnumerable<BookManagementApp.Models.Stock>

@{
    ViewBag.Title = "Trang chủ";
}

<h2>THỐNG KÊ TỒN KHO</h2>

<br />

<style>
     input[type="submit"]{
        padding: .5em 1em;
        color: #444;
        color: rgba(0,0,0,.8);
        border: 1px solid #999;
        border: transparent;
        background-color: #E6E6E6;
        text-decoration: none;
        border-radius: 2px;
    }
    select {
        height: 2.25em;
        border: 1px solid #ccc;
        background-color: #fff;
    }
    input[type="date"]::-webkit-clear-button {
        display: none;
    }
    /* Removes the spin button */
    input[type="date"]::-webkit-inner-spin-button {
        display: none;
    }
    /* Always display the drop down caret */
    input[type="date"]::-webkit-calendar-picker-indicator {
        color: #2c3e50;
    }
    /* A few custom styles for date inputs */
    input[type="date"] {
        appearance: none;
        -webkit-appearance: none;
        border: 1px solid #ecf0f1;
        padding: 5px;
        display: inline-block !important;
        visibility: visible !important;
    }
    input[type="date"], focus {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
</style>

@using (Html.BeginForm("StockFilter", "Home", FormMethod.Post))
{
    @Html.DropDownList("Books","-------- Tất cả sách --------")
    <span>Chọn ngày:</span>
    <input type="date" name="FilterDate" />

    <input type="submit" value="Lọc" />
}

<br />

<table class="table">
    <tr>
        <th>
           Tên sách
        </th>
        <th>
            Số lượng
        </th>
        <th>
           Thời gian
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
    </tr>
}

</table>
